# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

# npm
node_modules/
package-lock.json
*.gz

scripts/flow/*/.flowconfig
build/
*.log*

# Text Editor
*.sublime-project
*.sublime-workspace
.idea
*.iml
.vscode
*.swp
*.swo